li {color: lightblue;
 list-style-type: none;
 display: inline-block;
 li,a{color: lightblue;} 
 li,a{color: lightblue} 
}
.Lorem {color: blue;}
body{background-image: url(ruben-mavarez-Ix3RhJ-rxmE-unsplash.jpg);
background-size: cover;
background-repeat: repeat-x;
}
h2 {background: rgba(212, 151, 106,0.2);
text-align: center;
border: 5px solid rgba(255, 206, 170,0.2);
cursor: pointer;
color:rgb(85, 36, 0);
}
p,em {color:#6C864B
;
text-align: center;

}
p { font-size: 20px;
line-height: 1.5;
}
img{ float: right;
}
p{border: 5px solid rgba(255, 206, 170,0.2);}
button { color: #93AE6F;}
button:hover {background-color:#C7D5B4;
cursor:pointer;
}
footer{text-align: center;}
.bpmf-zihi-kai-std-regular {
  font-family: "Bpmf Zihi Kai Std", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.boxmodel {
  width: 100px;
  height: 100px;
  background-color: #C7D5B4;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border: 2px dotted #93AE6F;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
}

